@model LandmarkUserViewModel

@{
    ViewData["Title"] = "Add Landmark";
}

<h2>Add Landmark</h2>

<h4>Landmark</h4>
<hr />
@if (Model.User != null && Model.User.Role.ToString().ToUpper() == "administrator".ToUpper())
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddLandmark">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Landmark.UserID" class="control-label"></label>
                    <input asp-for="@Model.Landmark.UserID" class="form-control" />
                    <span asp-validation-for="@Model.Landmark.UserID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Landmark.Name" class="control-label"></label>
                    <input asp-for="@Model.Landmark.Name" class="form-control" />
                    <span asp-validation-for="@Model.Landmark.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Landmark.Category" class="control-label"></label>
                    <input asp-for="@Model.Landmark.Category" class="form-control" />
                    <span asp-validation-for="@Model.Landmark.Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Landmark.Description" class="control-label"></label>
                    <input asp-for="@Model.Landmark.Description" class="form-control" />
                    <span asp-validation-for="@Model.Landmark.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Landmark.StreetAddress" class="control-label"></label>
                    <input asp-for="@Model.Landmark.StreetAddress" class="form-control" />
                    <span asp-validation-for="@Model.Landmark.StreetAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Landmark.City" class="control-label"></label>
                    <input asp-for="@Model.Landmark.City" class="form-control" />
                    <span asp-validation-for="@Model.Landmark.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Landmark.State" class="control-label"></label>
                    <input asp-for="@Model.Landmark.State" class="form-control" />
                    <span asp-validation-for="@Model.Landmark.State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Landmark.ZipCode" class="control-label"></label>
                    <input asp-for="@Model.Landmark.ZipCode" class="form-control" />
                    <span asp-validation-for="@Model.Landmark.ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Landmark.HoursOfOperation" class="control-label"></label>
                    <input asp-for="@Model.Landmark.HoursOfOperation" class="form-control" />
                    <span asp-validation-for="@Model.Landmark.HoursOfOperation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Landmark.ImageLocation" class="control-label"></label>
                    <input asp-for="@Model.Landmark.ImageLocation" class="form-control" />
                    <span asp-validation-for="@Model.Landmark.ImageLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add New Landmark" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div>You must log in as an administrator to add landmarks.</div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
