@model Capstone.Models.Landmark

@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Name</h1>

<div class="detail">
    <img id="detailImage" src="~/images/landmarks/@Model.ImageLocation"/>

    <div id="detailRightBox">

        <h2>Landmark information:</h2>
        <ul class="list_facts">
            <li>
                Category: @Model.Category
            </li>
            <li>
                Location: @Model.StreetAddress @Model.City, @Model.State @Model.ZipCode
            </li>
            <li>
                Hours of operations: @Model.HoursOfOperation
            </li>

        </ul>
        <iframe width="400" height="300" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/view?zoom=17&center=@Model.Latitude,@Model.Longitude&key=AIzaSyBR3TDgdyT1bGXlPKIG9yF6-7WYX3ewges" allowfullscreen></iframe>

    </div>

</div>

<p>@Model.Description</p> <br>

<div>
    <a asp-action="Index">Back to List</a>
</div>
