@model Capstone.Models.Landmark

@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

<div>
    <div id="detailLeftBox">
        <h1>@Model.Name</h1>
        <img src="~/images/landmarks/@Model.ImageLocation" />
    </div>
    <div id="detailRightBox">
        <h4>@Model.Category</h4>
        <h4>@Model.Description</h4>
        <h4>@Model.StreetAddress</h4>
        <h4>@Model.City</h4>
        <h4>@Model.State</h4>
        <h4>@Model.ZipCode</h4>
        <h4>@Model.Latitude</h4>
        <h4>@Model.Longitude</h4>
        <h4>@Model.HoursOfOperation</h4>
        @*<a href="https://www.google.com/maps/search/?api=1&@Model.Name">Google Maps Search</a>*@

    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
