@model Capstone.Models.Landmark

@{
    ViewData["Title"] = "Detail";
}
<h1 style="text-align:center">@Model.Name</h1>

<div class="detail">
    <img id="detailImage" src="~/images/landmarks/@Model.ImageLocation" />

    <div id="detailRightBox">

        <h2>Landmark information:</h2>
        <ul class="list_facts">
            <li>
                Category: @Model.Category
            </li>
            <li>
                <ul>
                    @if (Model.StreetAddress != "")
                    {
                        <li>@Model.StreetAddress</li>
                    }
                    <li>@Model.City, @Model.State @Model.ZipCode</li>
                </ul>
            </li>
            <li>
                Hours of operations: @Model.HoursOfOperation
            </li>

        </ul>


    </div>
</div>

<div id="detailBottomBox">
    <h4 id="detailDescription">@Model.Description</h4> <br> <br />
    <div id="detailMap">
    </div>
</div>
<br />
<br />
<br />

<div>
    <button class="button"><a class="backToList" asp-action="Index" style="text-decoration: none;">Back to List</a></button>
</div>

<script> 
    //add detail map marker
    addDetailMapMarker(@Model.Latitude, @Model.Longitude, '@Model.Name');
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR3TDgdyT1bGXlPKIG9yF6-7WYX3ewges&callback=initDetailMap"></script>