@model List<Landmark>

@{
    ViewData["Title"] = "Home Page";
}

<div class="search">
    Show only landmarks within <input id="index_distance_search_box"
                                      type="number"
                                      onchange="indexSearch(this.value)"
                                      onkeyup="indexSearch(this.value)"
                                      onclick="indexSearch(this.value)" 
                                      value="15"/> miles.
</div>

<div id="map">
</div>

<p>Click the map to change your starting location.</p>

@foreach (Landmark landmark in Model)
{
    var landmarkDiv = "landmarkDiv" + landmark.ID;
    <div class="index_landmark" id="@landmarkDiv">
        @{
            string landmarkImageFile = "/images/landmarks/" + landmark.ImageLocation;
        }
        <a asp-controller="Home" asp-action="Detail" asp-route-id="@landmark.ID">
            <img class="index_landmark_image" src="@landmarkImageFile" />
        </a>

        <div class="index_landmark_text">
            <a asp-controller="Home" asp-action="Detail" asp-route-id="@landmark.ID">
                <h3>@landmark.Name - @landmark.State</h3>
            </a>

            <p>@landmark.Description</p>

            @{
                var distanceID = "distanceToLocation" + landmark.ID;
            }
            <div class="indexDistanceCalculation" id="@distanceID">
                @* this will be filled in by the script below *@
            </div>

            <script>
                updateElementDistance(@landmarkDiv, @distanceID, @landmark.Latitude, @landmark.Longitude);
                addDistanceElement(@landmarkDiv, @distanceID, @landmark.Latitude, @landmark.Longitude);
            </script>
        </div>
    </div>
}

