@model List<Landmark>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (Landmark landmark in Model)
{
    <div class="landmark">
        @{
            string landmarkImageFile = "/images/landmarks/" + landmark.ImageLocation;
        }
        <a asp-controller="Home" asp-action="Detail" asp-route-id="@landmark.ID">
            <img class="landmark_image" src="@landmarkImageFile" />
        </a>

        <div class="landmark_text">
            <a asp-controller="Home" asp-action="Detail" asp-route-id="@landmark.ID">
                <h3>@landmark.Name - @landmark.State</h3>
            </a>

            <p>@landmark.Description</p>
        </div>

    </div>
}