@model Itinerary
@{
    ViewData["Title"] = "Itinerary";
}

<h2>Itinerary</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="RenameItinerary">
            <div class="col-md-6" style="display: block">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Name" class="control-label"></label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Rename" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>

@*@foreach (KeyValuePair<int, Landmark> kvp in Model.LandmarkVisitOrder)
{
    var landmarkDiv = "landmarkDiv" + landmark.ID;
    <div class="index_landmark" id="@landmarkDiv">
        @{
            string landmarkImageFile = "/images/landmarks/" + landmark.ImageLocation;
        }
        <a asp-controller="Home" asp-action="Detail" asp-route-id="@landmark.ID">
            <img class="index_landmark_image" src="@landmarkImageFile" />
        </a>

        <div class="index_landmark_text">
            <a asp-controller="Home" asp-action="Detail" asp-route-id="@landmark.ID">
                <h3>@landmark.Name - @landmark.State</h3>
            </a>

            <p>@landmark.Description</p>

            <div><p>Here</p></div>

            @{
                var distanceID = "distanceToLocation" + landmark.ID;
            }
            <div class="indexDistanceCalculation" id="@distanceID">
               
            </div>


            <script>
                updateElementDistance(@landmarkDiv, @distanceID, @landmark.Latitude, @landmark.Longitude);
                addDistanceElement(@landmarkDiv, @distanceID, @landmark.Latitude, @landmark.Longitude);
            </script>
        </div>
    </div>
}*@
