@model ItineraryViewModel
@{
    ViewData["Title"] = "Itinerary";
}

<h2>Itinerary</h2>

<form asp-action="RenameItinerary" asp-controller="Home" method="post">
    Name of itinerary: <input type="text" name="newItineraryName" value="@Model.Itinerary.Name" />
    <input type="hidden" name="itineraryId" value="@Model.Itinerary.ID" />
    <button type="submit">Save</button>
</form>

<p>@Model.Itinerary.ID</p>
<p>@Model.Itinerary.UserEmail</p>
<div id="itineraryMap"></div>

<form asp-action="ChangeItineraryStartingLatLon" asp-controller="Home" method="post">
    <input type="hidden" name="itineraryId" value="@Model.Itinerary.ID" />
    <input type="text" name="itineraryStartingLatitude" id="itineraryStartingLatitude" readonly value="@Model.Itinerary.StartingLatitude" />
    <input type="text" name="itineraryStartingLongitude" id="itineraryStartingLongitude" readonly value="@Model.Itinerary.StartingLongitude" />
    <button type="submit">Save starting location</button>
</form>

<div id="itineraryLandmarks">
    @for (int position = 0; position < Model.Itinerary.LandmarksOrderedByVisitOrder.Count; position++)
    {
        <form asp-action="DeleteLandmarkFromItinerary" asp-controller="Home" method="post">
            <button type="submit">Remove Landmark</button>
            <input type="hidden" name="itineraryId" value="@Model.Itinerary.ID" />
            <input type="hidden" name="landmarkId" value="@Model.Itinerary.LandmarksOrderedByVisitOrder[position].ID" />
            <input type="hidden" name="visitOrderOfRemovedLandmark" value="@(position + 1) " />
        </form>
        if (position != 0)
        {
            <form asp-action="MoveLandmarkUpOnItinerary" asp-controller="Home" method="post">
                <button type="submit">Up</button>
                <input type="hidden" name="itineraryId" value="@Model.Itinerary.ID" />
                <input type="hidden" name="landmarkId" value="@Model.Itinerary.LandmarksOrderedByVisitOrder[position].ID" />
                <input type="hidden" name="fromPosition" value="@position" />
            </form>
        }
        if (position != Model.Itinerary.LandmarksOrderedByVisitOrder.Count - 1)
        {
            <form asp-action="MoveLandmarkDownOnItinerary" asp-controller="Home" method="post">
                <button type="submit">Down</button>
                <input type="hidden" name="itineraryId" value="@Model.Itinerary.ID" />
                <input type="hidden" name="landmarkId" value="@Model.Itinerary.LandmarksOrderedByVisitOrder[position].ID" />
                <input type="hidden" name="fromPosition" value="@position" />
            </form>
        }
        <p>@Model.Itinerary.LandmarksOrderedByVisitOrder[position].Name</p>
    }
</div>

<div id="itineraryLandmarks">
    @foreach (Landmark landmark in Model.AllLandmarks)
    {
        <span>@landmark.Name</span>
        <form asp-action="AddLandmarkToItinerary" asp-controller="Home" method="post">
            <button type="submit">Add to Itinerary</button>
            <input type="hidden" name="itineraryId" value="@Model.Itinerary.ID" />
            <input type="hidden" name="landmarkId" value="@landmark.ID" />
        </form>
    }
</div>

<form asp-action="DeleteItinerary" asp-controller="Home" method="post">
    <input type="hidden" name="itineraryId" value="@Model.Itinerary.ID" />
    <button type="submit">Delete Itinerary</button>
</form>

@*<script src="~/js/Sortable/Sortable.js">
        initializeSortableLandmarks();
    </script>*@

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR3TDgdyT1bGXlPKIG9yF6-7WYX3ewges&callback=initItineraryMap"></script>