@model Itinerary
@{
    ViewData["Title"] = "Itinerary";
}

<h2>Itinerary</h2>

<p>
    Name of itinerary: <span id="itineraryName">@Model.Name</span>
</p>
<p>ID: <span id="itineraryId">@Model.ID</span></p>
<p>Email associated with itinerary: <span id="itineraryEmail">@Model.UserEmail</span></p>
<p>Starting latitude: <span id="itineraryStartLat">@Model.StartingLatitude</span></p>
<p>Starting longitude: <span id="itineraryStartLon">@Model.StartingLongitude</span></p>

<ul id="itineraryLandmarks">

    @for (int order = 0; order < Model.LandmarksOrderedByVisitOrder.ToList().Count; order++)
    {
        int displayOrder = order + 1;
        string itineraryOrderItem = "itineraryOrderItem" + displayOrder;

        <li>
            <input id="@itineraryOrderItem"
                   type="number"
                   value="@displayOrder"
                   min="1"
                   max="@Model.LandmarksOrderedByVisitOrder.ToList().Count" />
            @Model.LandmarksOrderedByVisitOrder.ToList()[order].Name
        </li>
    }
</ul>


@*<button class="button"><a asp-action="Itinerary" asp-bind style="text-decoration: none;">Save itinerary</a></button>*@